<html>
    <head>
        {% load static %}
        <meta http-equiv="refresh" content="6;url=http://pm.vnsp.vn/spwh/sparepart/scan/" />
    </head>
    <style>
        h1 {
            text-align: center;
            font-size:8vw;
        }
    </style>
    <body>
        

        <div>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4036164292579668"
                crossorigin="anonymous"></script>
            <!-- prescanqr -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-4036164292579668"
                data-ad-slot="8057318338"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>


        <h1>Hệ thống đang nạp</h1>
        <h1>vui lòng đợi trong giây lát...</h1>
        
        <div>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4036164292579668"
                crossorigin="anonymous"></script>
            <!-- prescanqr -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-4036164292579668"
                data-ad-slot="8057318338"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4036164292579668"
                crossorigin="anonymous"></script>
            <!-- prescanqr -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-4036164292579668"
                data-ad-slot="8057318338"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4036164292579668"
                crossorigin="anonymous"></script>
            <!-- prescanqr -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-4036164292579668"
                data-ad-slot="8057318338"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        
    </body>
</html>